
.img {
  width: 100%;
  object-fit: cover;
  transition: all 1.5s ease-in-out ;
}
.imgContainer {
   height: calc(100vh - 100px);
   width: 100%;
}
@media screen and (min-width: 961px) {
  .imgContainer {
   width: 100%;
}
.img {
  
   height: 70vh;
}
}

@media screen and (max-width: 960px) {
  .imgContainer {
   width: 100%;
}
}