.container {
  background-color: #222;
  display: flex;
  padding: 3rem 0;
}
.info { 
  flex: 1;
  padding: 0 20px;
}
.name {
  color: #00c4ee;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.motto {
  color: #00c4ee;
    margin-bottom: 1rem;
  font-style: italic;
}

.card {
  flex: 2;
  padding: 0 20px;
}
.hr {
  border: 1px solid #b7903c;
  width: 50%;
  margin: 0.6rem auto;
}
.socials {
display: flex;
justify-content: center;
align-items: center;
margin-top: 2rem;
}

.socials span {
  color: #b7903c;
  font-size: 30px;
  margin-right: 1.5rem;
  cursor: pointer;
}

.phone {
  color: lightgray;
  font-size: 1.3rem;
  font-weight: 600;
}
.hours {
    flex: 1;
}

.hoursContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 1rem;
}

.text1, .text2 {
    margin-bottom: 1rem;
     color: lightgray;
}
.cardContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}
.title {
  font-size: 18px;
  color: #b7903c;
  
    text-align: center;
}

.text {
  color: lightgray;
  /* margin: 0 auto; */
}

@media screen and (max-width: 760px) {
  .name {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .info {
    display: none;
  }

  .title {
    font-size: 18px;
  }
  .container {
    height: auto;
    text-align: center;
  }
 

  .text {
    font-size: 14px;
  }
}