.container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: #635f5e;
  margin-bottom: 10px;
}
.desc {
  font-size: 24px;
  color: #444;
  width: 70%;
  margin: 1rem 0 1.5rem 0;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 968px) {
  .desc {
  width: 90%;
}
}

@media screen and (max-width: 480px) {
  .title {
    text-align: center;
    font-size: 1.8rem;
  }

  .desc {
    width: 90%;
    text-align: center;
    font-size: 1.2rem;
    margin: 0.8rem 0;

  }
}